@import 'tailwindcss';

@theme{
    --breakpoint-xs: 480px;
}

html,
body,
#root {
    height: 100%;
}

@font-face {
    font-family: "Zalando Sans";
    src: url("/fonts/ZalandoSans_SemiCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zalando Sans";
    src: url("/fonts/ZalandoSans_SemiCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-sans: "Zalando Sans";
}

/* ESTILOS DE REACT DATEPICKER */
/* POR DEFECTO SE APLICAN ESTOS ESTILOS
.react-datepicker {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(476.667px, 844.444px);
} */
/* .react-datepicker - Contenedor principal del calendario
.react-datepicker__day--selected - Fecha seleccionada
.react-datepicker__day--today - Fecha actual
.react-datepicker__day - Cada día del calendario
.react-datepicker__header - Encabezado del calendario
.react-datepicker__month-container - Contenedor del mes */


/* Controla el espaciado del calendario */
.react-datepicker {
    /*margin: 0.5rem;*/
    border-radius: 10px;
}

.react-datepicker__header {
    background-color: rgb(69, 85, 108);
}

.react-datepicker__current-month {
    background-color: rgb(69, 85, 108);
    color: white;
    font-size: 16px;
}

.react-datepicker__day-name,
.react-datepicker__day {
    font-size: 14px;
    margin: 0 0;
    width: 44px;
    font-family: Arial, Helvetica, sans-serif;
}


.react-datepicker__day-name{
        text-decoration: underline;
          text-decoration-style: dotted;
        text-transform: uppercase;
        margin: 0 0;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 8px;
}

.react-datepicker__day-names{
    font-weight: bold;
    padding: 0;
}

.react-datepicker__month{
    margin: 0;
}
/* Esta clase cambia el color de fondo del selector de React Date Picker*/
.react-datepicker__day:not([aria-disabled=true]):hover, 
.react-datepicker__month-text:not([aria-disabled=true]):hover, 
.react-datepicker__quarter-text:not([aria-disabled=true]):hover, 
.react-datepicker__year-text:not([aria-disabled=true]):hover{
    background-color: rgb(239, 246,255);
}

/* FIN DE SEMANA */
.react-datepicker__day--weekend{
    color: #d10000
}

/* Aplica el estilo si ha seleccionado una fecha que es de un fin de semana */
.react-datepicker__day--selected.react-datepicker__day--weekend{
    color: white
}

/* DIA DEL MES SIGUIENTE O ANTERIOR QUE SE MUESTRA EN EL CALENDARIO DEL MES SELECCIONADO (ACTUAL) */
.react-datepicker__day--outside-month{
    color: #757575
}

.react-datepicker__day--today {
    background-color: rgb(202, 213, 226);
    border-radius: 5px;;
}

.react-datepicker__day--selected {
    background-color: rgb(21, 93, 252);
}

/* AL ABRIR EL CALENDARIO, ENCONTRE ESTA CLASE CSS */
/* .react-datepicker-ignore-onclickoutside{
    margin: ;
} */

/* Solucion al problema del espaciado en React DatePicker*/
.react-datepicker-wrapper{
    margin: 0
}
.react-datepicker__tab-loop{
    margin: 0
}


/* Clases relacionadas a React DateTime Picker*/
.react-datetime-picker__wrapper{
    border: none;
    padding: 0;
    height: 26px;
}

.react-datetime-picker__inputGroup{
    padding: 0;
    font-size: 16px;
    height: max-content;
}

/* BOTON PARA ELIMINAR LA FECHA Y HORA SELECCIONADA */
.react-datetime-picker__clear-button{
    margin-right: -10px;
}


/* ESTILO AL RELOJ */
.react-datetime-picker__clock{
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 10px;
}


/* Estilos al calendario de React DateTime Picker*/
.react-calendar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
        height: auto;
}


.react-calendar__navigation{
    background-color: rgb(69, 85, 108);
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    height: auto;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
    font-size: 24px;
    height: 40px;
    margin: 0;
}

.react-calendar__navigation__label__labelText{
    font-size: 16px;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus{
    background-color: rgb(69, 85, 108);
}


.react-calendar__navigation__label, .react-calendar__navigation button:disabled{
    background-color: rgb(69, 85, 108);

}


.react-calendar__navigation__prev-button:hover {
    border-top-left-radius: 10px;
}
.react-calendar__navigation__next-button:hover {
    border-top-right-radius: 10px;
}



.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
    background: rgb(239, 246,255);
        border-radius: 5px;

}

/* La fecha de hoy dia */
.react-calendar__tile--now{
    background: rgb(202, 213, 226);
    border-radius: 5px;
    font-weight: bold;
}

.react-calendar__tile--now:hover{
        background: rgb(239, 246,255);
    border-radius: 5px;

}
.react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus{
        background: rgb(202, 213, 226);
    border-radius: 5px;

}


/* Dias de la semana */
.react-calendar__month-view__weekdays{
    font-size: 14px;
    text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday{
    padding: 8px 0 8px 0;
}


/* Dia del calendario */
.react-calendar__tile{
    padding: 6px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.react-calendar__tile--active{
        background-color: rgb(21, 93, 252);
    border-radius: 5px;
}

/*  NOTA: esta propiedad no funciona */
.react-calendar__navigation__arrow:hover, .react-calendar__navigation__next-button:hover{
    background-color: red;
}

/* Oculta los otros 2 botones */
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button{
    display: none;
}



/* Desactiva el scroll que aparece en un input de tipo number */
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}