@import "tailwindcss";

@font-face {
    font-family: "Zalando Sans";
    src: url("/fonts/ZalandoSans_SemiCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zalando Sans";
    src: url("/fonts/ZalandoSans_SemiCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-sans: "Zalando Sans";
}

/* ESTILOS DE REACT DATEPICKER */
.react-datepicker {
    margin: auto;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.react-datepicker__day--today {
    background-color: red;
}